body {
    background-color: whitesmoke;
}

.quiz {
    background-color:white;
    color: rgb(169, 155, 147);
    border: 4px solid #000000;
    border-radius: 20px;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.quiz__btn {
    background-color: #eecb6e;
    color: #ffffff;
    padding: 0.75rem 3rem;
    border:none;
    border-radius: 20px;
    cursor: pointer;
}

.answer {
  border: 2px solid #23c5f1;
  color:#ffffff;
  background-color:rgb(50,50, 50);
  text-align: left;
  padding: 0.5rem 1rem;
  margin: 10px auto;
  cursor: pointer;  
  font-family: 'Times New Roman', Times, serif;
  color: rgb(255, 249, 249);



}

.question_answer {
    list-style-type: none;
    padding-left: 0;
}

.hidden {
    display: none;
}
.questionscreen {
    display: none;
}

.answer--correct {
    background-color: aqua;
}

.see {
    display: block;
}
